In [ ]:
Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

In [135]:
def test():
    num=1221
    rev=0
    while num!=0:
        digit=num%10
        rev=rev*10+digit
        num=num//10
        if rev==num:
            return True
    else:
        return False

In [136]:
test()

True

In [ ]:
Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.

In [38]:
def test2():
    s="2","3"
    j=1
    for i in s:
        k=int(i)*j
        j=k
       
    return k

In [39]:
test2()

6

In [ ]:
Question 3
Create a function that squares every digit of a number.

In [66]:
def test3():
    num="9119"
    l=[]
    for i in num:
        k=int(i)**2
        l.append(k)
    

    return l

In [67]:
test3()

[81, 1, 1, 81]

In [ ]:
Question 4
Create a function that sorts a list and removes all duplicate items from it.

In [76]:
def test4():
    l=[1,3,3,5,5]
    k=list(set(l))
    return k

In [77]:
test4()

[1, 3, 5]

In [ ]:
Question 5
Create a function that returns the mean of all digits.

In [103]:
def test5(n):
    sum=0
    len_of_n=3
    for i in str(n):
        sum=sum+int(i)
       
    mean=int(sum/len_of_n)

    return mean

In [104]:
test5(512)

2