In [ ]:
Question1
Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only

In [42]:
def test():
    l=["siddu",23,"patil",87,98,"ineuron",100]
    l1=[]
    for i in l:
        if type(i)==int:
            l1.append(i)

    return l1

In [43]:
test()

[23, 87, 98, 100]

In [ ]:
Question2
Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...

In [56]:
def test2():
    l=[0,1,2,3,4,5]
    l1=[]
    for i in l:
        k=i+l[i]
        l1.append(k)
        
    return l1

In [58]:
test2()  ##expected output

[0, 2, 4, 6, 8, 10]

In [ ]:
Question3
Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

In [65]:
def test3(r,h):
    k=r**2
    cone_volume=float(0.33*k*h*3.14)
    return cone_volume

In [66]:
test3(3,2)

18.651600000000002

In [ ]:
Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.

In [84]:

def test4():
    dots=[1,2,3,4,5]
    triangle=["triangle1","triangle2","triangle3","triangle4","triangle5"]
    s=list(zip(triangle,dots))

    return s

In [85]:
test4()

[('triangle1', 1),
 ('triangle2', 2),
 ('triangle3', 3),
 ('triangle4', 4),
 ('triangle5', 5)]

In [ ]:
Question5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.

In [109]:
def test5():
    l=[1,2,3,4,6,7,8,9,10]
    l1=[]
    for i in range(1,10):
        if i  not in l:
            l1.append(i)
            
    return l1

In [111]:
test5() ##l1 contains missing number list

[5]