1. Write a Python program to find sum of elements in list?

In [19]:
l=[1,2,3,4,5,6]
total=0
for i in range(0,len(l)):
  if type(i)==int:
    total=total+l[i]
    print(f"the sum of the elements is :{total}")

the sum of the elements is :1
the sum of the elements is :3
the sum of the elements is :6
the sum of the elements is :10
the sum of the elements is :15
the sum of the elements is :21

2. Write a Python program to Multiply all numbers in the list?

In [25]:
l=[1,2,3,4,5]
total=1
for i in range(len(l)):
  if type(i)==int:
     total=total*l[i]
     print(f"the multipication of all elements is:{total}")

the multipication of all elements is:1
the multipication of all elements is:2
the multipication of all elements is:6
the multipication of all elements is:24
the multipication of all elements is:120

3. Write a Python program to find smallest number in a list?

In [54]:
l=[1,2,3,4,5] 
for i in l:
  

     k=min(l)
     print(k)

1
1
1
1
1

4. Write a Python program to find largest number in a list?

In [117]:
l=[1,2,3,4,5,6,3,4,5]
for i in l:
  if type(i)==int:
    k=max(l)
    print(k)

6
6
6
6
6
6
6
6
6

5. Write a Python program to find second largest number in a list?

In [177]:
l=[1,2,3,4,5,6,78,7,8]
l.sort()
for i in l:
  if type(i)==int:
   print(len(l)-1)

8
8
8
8
8
8
8
8
8

7. Write a Python program to print even numbers in a list?

In [60]:
l=[1,2,3,4,5,6,7,8,9,10]
for i in range(len(l)):
  if i%2==0:
    print(i)

0
2
4
6
8

8. Write a Python program to print odd numbers in a List?

In [59]:
l=[1,2,3,4,5,6,7,8,9]
for i in range(len(l)):
  if i%2!=0:
    print(i)

1
3
5
7

9. Write a Python program to Remove empty List from List?

In [97]:
l=[1,2,3,4,5,[],9,56,78,86,"siddu"]
l1=[]
for i in l:
  if type(i)==int:
    l1.append(i)
  elif type(i)==str:
    l1.append(i)

In [98]:
l1

[1, 2, 3, 4, 5, 9, 56, 78, 86, 'siddu']

10. Write a Python program to Cloning or Copying a list?

In [61]:
l=[1,2,3,4,5,"siddu","patil"]
l1=[]
for i in l:
  l1.append(i)
  print(l1)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'siddu']
[1, 2, 3, 4, 5, 'siddu', 'patil']

In [62]:
l1

[1, 2, 3, 4, 5, 'siddu', 'patil']

11. Write a Python program to Count occurrences of an element in a list?

In [118]:
l=[1,2,3,4,4,4,5,6]
for i in l:
    l.count(i)
    print(i,   l.count(i))

1 1
2 1
3 1
4 3
4 3
4 3
5 1
6 1