1. Write a Python Program to Find HCM?

In [1]:
num1=int(input("enter the value: "))
num2=int(input("enter the value: "))
for i in range(2,min(num1,num2)):
  if num1%i==0 and num2%i==0:
    
    print(f"hcf of num1 and num2 is:{i}")

enter the value: 14
enter the value: 12
hcf of num1 and num2 is:2

1. Write a Python Program to Find LCM?

In [40]:
num1=int(input("enter the value: "))
num2=int(input("enter the value: "))
for i in range (2,max(num1,num2)):
  if num1%i==0 or num2%i==0:
    print(i)

enter the value: 10
enter the value: 15
2
3
5
10

3. Write a Python Program to Convert Decimal to Binary, Octal and Hexadecimal?

In [17]:
n=int(input("enter the value: "))
l1=[]
while n!=0:
  r=n%2
  l1.append(r)
  n=n//2
print(l1)

enter the value: 5
[1, 0, 1]

In [27]:
n=int(input("enter the number: "))
octal_digit=[]
while n!=0:
  r=n%8
  octal_digit.append(r)
  n=n//8
print(f"the octal value of decimal is {octal_digit[::-1]}")

enter the number: 7562
the octal value of decimal is [1, 6, 6, 1, 2]

In [30]:
n=int(input("enter the value: "))
hexadecimal=[]
while n!=0:
  r=n%16
  hexadecimal.append(r)
  n=n//16
print(f"the hexadecimal value of decimal is{hexadecimal[::-1]} ")

enter the value: 35631
the hexadecimal value of decimal is[8, 11, 2, 15]

4. Write a Python Program To Find ASCII value of a character?

In [58]:
n=int(input("enter the value: "))
if n>0:
  k=chr(n)
  print(k)
else:
  
  print(" enter the correct value ")

enter the value: 77
M

5. Write a Python Program to Make a Simple Calculator with 4 basic mathematical operations?

In [37]:
n1=int(input("enter the value: "))
n2=int(input("enter the value: "))
if n1!=0 and n2!=0:
  k=n1+n2
  l=n1-n2
  m=n1*n2
  n=n1/n2
print(k,
      l,
      m,
      n)

enter the value: 10
enter the value: 20
30 -10 200 0.5

In [ ]:
2